{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Статьи
{% endblock title %}

{% block content %}
   <h3>Сегодня - {{ time_now|date:'M d Y' }}</h3>
   <h1>Список новостей</h1>
<hr>
    <ul>
     {% for post in news %}
      <li>
        <h3>{{ post.title|censor }}</h3>
        <p>Дата публикации: {{ post.dateCreation|date:"d.m.Y" }}</p>
        <p>{{ post.text|slice:":20" }}...</p>
        <a href="{% url 'news_detail' post.pk %}">Подробнее</a>
      </li>
        <hr>
    {% endfor %}
  </ul>

{% endblock content %}